
ul{
			list-style-type: none;
			text-align: center;
			background-color: #95FFE3;
			margin: 10px;
			padding: 15px;
	
			}
	

li{
			display: inline;
			text-align: center;
			margin: 0 90px 0 0;
			background-color: #95FFE3;
			}
li a {
			padding: 1px 14px 1px 14px;
			color: #666;
			text-align: center;
			background-color: #95FFE3;
			text-decoration: none;
			}
li a:hover{
			background-color: #31594E;
			color: #ffffff;
			}
.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
.nav li:hover > ul {
				display:block;
			}
			
.nav li ul li {
				position:relative;
			}
			
.nav li ul li ul {
				right:-140px;
				top:0px;
			}

.dropbtn {
                background-color: black;
                color: white;
                padding: 30px;
                font-size: 16px;
                border: none;
            }
.dropdown {
                position: relative;
                display: inline-block;
            }
            
.dropdown-content {
                display: none;
                position: absolute;
                background-color: lightgrey;
                min-width: 200px;
                z-index: 1;
            }
.dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }
            
.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: grey;}
.circular--portrait {
	position: relative;
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 50%;
	}

	.circular--portrait img {
	width: 100%;
	height: auto;
	}